.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --hover-color: 1px solid rgba(255, 0, 112, 0.4);
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --title-decor-text: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --main-text-color: #f1b2ce;
    --title-color: #db00ff;
    --title-shadow: #ff0070;
    --hover-color: 1px solid rgba(255, 0, 112, 0.4);
    --background-color: #000028;
    --background-image: url(../images/cover-image-dark.png);
    --title-decor-text: var(--background-color);
  }
}