.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: var(--title-decor);
  --title-decor: #ff8dcb;
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --header-rec-color: transparent;
  --corners-color: var(--main-text-color);
  --title-decor-text: var(--main-text-color);
  --title-decor-background: var(--title-decor);
  --link-shadow: var(--title-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow: var(--title-decor);
    --title-decor: #ff8dcb;
    --hover-color: 1px solid rgba(50, 49, 45, 0.4);
    --header-rec-color: transparent;
    --corners-color: var(--main-text-color);
    --title-decor-text: var(--main-text-color);
    --title-decor-background: var(--title-decor);
    --link-shadow: var(--title-color);
  }
}