.page {
  color: var(--main-text-color, #f1b2ce);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--background-color, #000028);
  background-image: var(--background-image, url(../images/cover-image-dark.png));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.header {
  align-items: start;
}

.header__rec {
  position: absolute;
  display: inline-flex;
  align-items: center;
  inset-inline-end: clamp(19px, calc(19px + 0.0154 * (100vw - 375px)), 29px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  gap: 10px;
}

.header__rec::before {
  content: "REC";
  color: var(--header-rec-color);
  line-height: 24px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--header-rec-color);
  background: var(--header-rec-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--corners-color);
  border-block-start: 1px solid var(--corners-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--corners-color);
  border-block-end: 1px solid var(--corners-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
  margin-top: 55px;
}


.header__second-title {
  margin-block: 55px;
  color: var(--title-decor-text);
  background: var(--title-decor);
  font-weight: 700;
}

.title-decor {
  color: var(--title-decor-text);
  background: var(--title-decor);
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 105%;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  color:var(--corners-color);
  text-transform: lowercase;
  padding: 2px 12px;
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.main {
  display: grid;
  padding: 40px 10px;
  gap: 50px;
}

.section__article-list {
  display: grid;
  gap: 20px;
}

.section__article {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section__article-text-link:hover {
  text-decoration: underline;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color:var(--corners-color);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.section__title-decor {
  color: var(--title-decor-text);
  background-color: var(--title-decor-background);
}

.section-image {
  gap: 10px;
}

.section-image__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.section-image__item {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.image-list {
  display: grid;
  gap: 20px;
}

.image-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  place-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7%;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

.section-two__article-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .header__second-title {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    margin-block: 162px;
}
  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

 .section__article-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .section__article {
    flex: 1 1 calc(33.333% - 20px);
  }

  .section-two__article-item {
    flex: 1 1 calc(33.333% - 20px);
    margin-bottom: 20px;
  }

  .section-three__articles-list {
    grid-column-start: 2;
  }

  .section-image {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .image-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image-list__item:first-child,
  .image-list__item:last-child {
    grid-column-start: span 2;
  }

  .image-list__item:nth-child(2),
  .image-list__item:nth-child(3) {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--color-purple-2, #ff0070);
  }

  .header__second-title {
    margin-block: 114px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    column-gap: 30px;
  }
  
}