:root {
  --font-family: "IBM Plex Mono", monospace;
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --title-decor: #ff8dcb;
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --background-color: #000028;
  --background-image: url(../images/cover-image-light.png);
  --border-color: var(--title-shadow);
  --corners-color: var(--main-text-color);
  --link-shadow: var(--title-color);
  --header-rec-color: transparent;
  --title-decor-text: var(--main-text-color);
  --title-decor-background: var(--title-decor);
}